a .material-icons {
    vertical-align: middle;
}

.img-main{
  margin: auto;
      display: block;
      margin-left: 35.9%;
      width: 30%;
      margin-bottom: 2em;
}

scroll-container {
  display: block;
  max-width: 100%;
  min-width: 50%;
  height: 25em;
  overflow-y: scroll;
  scroll-behavior: smooth;

}
scroll-page {
  display: flex;
  height:auto;
  margin: 10px;
}

.input-message{
  width: auto;
  height: 25%;
}

.message-form{
  margin-top: 2em;
}
.my-message{
  background-color:lightgrey;
  margin-left:5em;
}

.other-message{
  background-color:#FFD8DB;
  margin-right: 5em;
}

.page-header {
    height: 25%;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.main-raised {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
    top:-2em;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0,-50%,0);
}

.avatar img {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
}

.profile-page .profile .name{
    margin-top: -60px;
}

img.rounded {
    border-radius: 6px!important;
}

.tab-content>.active {
    display: block;
}

.carousel-inner {
    max-height: 20em ;
}

.carousel-item img{
    display: block ;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 20em;
	margin: auto;
}

.carousel-control-next , .carousel-control-prev {
	background-color: grey;
	opacity: .2;
}

.carousel-card {
	height: 30%;
}
.container {
    height: auto;
}
