<!-- Page Content -->
<section id="home">
	<div class="bg"></div>
	<img class="img-main" src="./res/logo_meet.png" class="logo" alt="Italian Trulli">
	<form action="{{ path('inscription') }}" method="post">
			<div class="row justify-content-center">
				{{ form_row(form.Submit, { 'attr': { 'class': 'btn-outline-primary' } }) }}
			</div>
</form>
</section>
<section id="contact">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="card m-5" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
			<div class="card m-5" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
			<div class="card m-5" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
			<div class="container">
				<h1>Rencontre moi !</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur libero sed erat sagittis maximus.																											            nisi ipsum, sit amet condimentum diam elementum non.
				</p>
			</div>
		</div>
	</div>
</section>
